@font-face {
  font-family: 'Franklin Gothic Medium';
  src: url('fonts/FranklinGothicMediumRegular.woff') format('woff');
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

html,
body {
  height: 100%;
  margin: 0;
}

.header {
  background-color: #e4d5c3;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: #6ec7c7;
  height: 58px;
  max-width: 1000px;
  flex-wrap: wrap;
}

.header img {
  max-height: 80px;
  margin-top: 5px;
  height: auto;
  width: auto;
  max-width: 100px;
  display: block;
}

nav ul {
  padding: 0;
}

.nav-links {
  list-style: none;
  padding-bottom: 0px;
  display: flex;
  gap: 20px;
  flex-grow: 1;
  min-height: 0;
  transition: max-height 0.2s ease-out;
  max-height: 200px;
  overflow: hidden;
  justify-content: flex-end;
  background-color: #6ec7c7;
}

nav ul,
.nav-links li,
.nav-links li a {
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links li a {
  color: #fefaf4;
  font-size: 30px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
  text-align: right;
  line-height: normal;
}

.nav-links li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hamburger:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-links.open {
  max-height: 200px;
}

.hamburger:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.bar {
  width: 2rem;
  height: 0.25rem;
  background-color: #fefaf4;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

/* Switch to mobile size with special rules*/
@media (max-width: 700px) {
  .nav-links {
    flex-direction: column;
  }

  .header img {
    max-height: 50px;
  }

  .hamburger {
    display: flex;
  }

  h1.title {
    font-size: 20px;
  }

  .text-container {
    padding: 0px;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-end;
    max-height: 0;
  }
}

.nav-links.open {
  max-height: 200px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fefaf4;
  max-width: 1000px;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin-bottom: 400px;
}


form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
}

.footer {
  left: 0;
  bottom: 0;
  text-align: center;
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.animal-images-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.animal-images {
  display: inline-block;
  animation: spinningBanner 2s linear infinite;
  width: 100%;
  height: auto;
  max-width: 1000px;
}

.animal-images img {
  max-height: 100vh;
  width: 16.34%;
  height: auto;
  flex-shrink: 1;
}

.content-image-wrapper {
  display: flex;
  justify-content: space-between;
}

.text-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding: 50px;
}

.text-container2 {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding: 50px;
  margin-bottom: 500px;
}

.Yhteystiedot {
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  max-width: 1000px;
  background-color: #d1e6e4;
  padding: 20px;
  margin-bottom: 500px;
}

.Yhteystiedot img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.Yhteystiedot .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-grid img {
  width: 400px;
  height: auto;
  object-fit: cover;
}


.title {
  font-size: 2em;
}

.book-now-btn {
  background-color: #4caf50;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.varaukset {
  border-radius: 10px;
}

.book-now-btn {
  background-color: #6ec7c7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 12px;
}

.book-now-btn:hover {
  background-color: #45a049;
  /* Darker green on hover */
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #deb9a3;
  padding: 10px 20px;
  text-align: center;
}